<template>
  <div class="home">
    <HomePage/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HomePage from '@/components/Page/HomePage.vue'

@Component({
  components: {
    HomePage,
  },
})
export default class Home extends Vue {}
</script>
