<template>
  <div class="transaction">
      <h2>Transactions <v-btn flat class="green darken-3 white--text" to="/transactions/add">Ajouter</v-btn></h2>
    <Table :transactions=transactionAction.list() />
  </div>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
    } from 'vue-property-decorator'
    import Table from '@/components/Transaction/Table.vue'
    import TransactionStore from '@/store/memory/Transaction/TransactionStore'
    import TransactionAction from '@/actions/TransactionAction'

    @Component({
        components: {
            Table,
        },
    })

    export default class Transaction extends Vue {
        public data() {
            return {
                transactionAction: new TransactionAction(new TransactionStore()),
            }
        }
    }
</script>
