<template>
    <v-navigation-drawer
        v-model="drawerState.state.drawerOpen"
        clipped
        fixed
        app
        width=200>
        <v-list dense>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Dashboard</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile @click="">
                <v-list-tile-action>
                    <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Settings</v-list-tile-title>
                </v-list-tile-content>
                </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { drawerState } from '../../states/DrawerState'

    @Component
    export default class Drawer extends Vue {
        public data() {
            return {
                drawerState: drawerState
            }
        }
    }
</script>
