<template>
    <v-toolbar app fixed clipped-left>
        <v-toolbar-side-icon @click.stop="drawerState.mutate()"></v-toolbar-side-icon>
        <v-toolbar-title>Application</v-toolbar-title>
        <v-btn to="/">Home</v-btn>
        <v-btn to="/about">About</v-btn>
        <v-btn to="/transactions">Transactions</v-btn>
    </v-toolbar>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator'
    import { drawerState } from '../../states/DrawerState'

    @Component
    export default class Toolbar extends Vue {

        public data() {
            return {
                drawerState: drawerState
            }
        }
    }
</script>
