<template>
    <v-app v-bind:dark=dark>
        <Drawer />
        <Toolbar />
        <v-content>
            <v-container fluid>
            <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>

<style lang="scss">
  @import '../node_modules/vuetify/dist/vuetify.min.css';
  @import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';
  // Import Main styles for this application
  @import 'assets/scss/styles.scss';
</style>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import Toolbar from '@/components/Template/Toolbar.vue'
    import Drawer from '@/components/Template/Drawer.vue'

    @Component({
        components: {
            Toolbar,
            Drawer,
        },
    })
    export default class Home extends Vue {
        public data() {
            return {
                dark: true,
            }
        }
    }
</script>
