<template>
    <v-container fluid px-0>
        <v-container fluid>
            Delete
        </v-container>
    </v-container>
</template>

<script lang='ts'>
    import {
        Component,
        Vue,
        Prop,
    } from 'vue-property-decorator'
    import TransactionAddView from '@/model/Transaction/query/TransactionAddView';

    @Component
    export default class Delete extends Vue {

        public data() {
            return {
                transaction: new TransactionAddView(),
            }
        }


    }
</script>
