<template>
    <v-container fluid px-0>
        <v-container fluid>
            <v-layout row wrap class="light--text">
                <v-switch
                    :label="`Switch 1: ${switch1.toString()}`"
                    v-model="switch1"
                ></v-switch>
                <v-switch
                    :label="`Switch 2: ${switch1.toString()}`"
                    v-model="switch1"
                ></v-switch>
                <v-switch
                    :label="`Switch 2: ${switch1.toString()}`"
                    v-model="switch1"
                ></v-switch>
                <v-switch
                    :label="`Switch 2: ${switch1.toString()}`"
                    v-model="switch1"
                ></v-switch>
            </v-layout>
        </v-container>
        <v-data-table
            :headers='columns'
            :items='rows'
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.wallet }}</td>
                <td class="text-xs-left">{{ props.item.description }}</td>
                <td class="text-xs-right">{{ props.item.createAt }}</td>
                <td class="text-xs-right">{{ props.item.balance }}</td>
                <td class="text-xs-right">{{ props.item.type }}</td>
                <td class="text-xs-right">{{ props.item.tags }}</td>
            </template>
        </v-data-table>
    </v-container>
</template>

<script lang='ts'>
    import {Component, Prop, Vue,} from "vue-property-decorator"
    import TransactionListView from "@/model/Transaction/query/TransactionListView"

    @Component
    export default class Table extends Vue {
        @Prop() transactions!: TransactionListView[]

        public data() {
            return {
                switch1: true,
                columns: [{
                        text: 'ID',
                        value: 'id',
                    },
                    {
                        text: 'Wallet',
                        value: 'wallet',
                    },
                    {
                        text: 'Description',
                        value: 'description',
                    },
                    {
                        text: 'Created On',
                        value: 'createAt',
                    },
                    {
                        text: 'Balance',
                        value: 'balance',
                    },
                    {
                        text: 'Type',
                        value: 'type',
                    },
                    {
                        text: 'Tags',
                        value: 'tags',
                    },
                ],
                rows: this.transactions,
            }
        }


    }
</script>
